body{
    background-image: url(hacking.jpg);
}
.ipt{
    width: 30px;
    height: 30px;
    font-size: 15pt;
    font-weight: bolder;
    text-align: center;
    border-color: rgb(93, 253, 0);
    display: none;
    color: rgb(0, 255, 0);
    background-color: black;
}
#dv1{
    width: 800px;
    height: 300px;
    position: absolute;
    left: 300px;
    top: 200px;
    background-color: #000;
}
#txt1{
    font-family:inherit;
    font-size: 15pt;
    font-weight: bolder;
    top: 100%;
    position: absolute;
}
#bt1{
    left: 0px;
    top:100px;
   
}
#bt2{
    left: 85px;
    top:100px;
   
}
.bt{
background-color:#000000;
border-radius:5px;
border:1px solid #00fa00;
display:inline-block;
cursor:pointer;
color:#4bfa06;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:5px 15px;
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
position:absolute;
}
.bt:hover {
background:linear-gradient(to bottom, #9b9b9b 5%, #768d87 100%);
background-color:#6c7c7c;
}
.bt:focus{
box-shadow: 0 0 0 0;
border: 1px #4bfa06 solid ;
outline: 0;
} 
#letraJogador{
    left: 2px;
    position: absolute;
    top: 50px;
}
#p1{
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    top: 150px;
    color: rgb(60, 255, 0);
}
#palavra{
    position: absolute;
    top: 500px;
    left: 0%;
   
}
#p2{
    color: rgb(103, 255, 1);
    top: 130px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
#cabeça{
    width: 1300px;
    height: 70px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 0%;
    left: 1%;
}
#btCabeça{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8, 255, 8);
    position: absolute;
    right: 6%;
    border: rgb(94, 255, 0) solid 1px;
    top: 40px;
    background-color: black;
}
#divMenu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    width: 80px;
    height: 70px;
    right: 85px;
    top: 70px;
    position: absolute;
    display: none;
}
span{
    color: rgb(6, 250, 6);
    right:50px;
    position: absolute;
    top: 0%;
    size: 15pt;
}
#logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30pt;
    color: rgb(1, 255, 1);
    position: absolute;
    top: 0px;
    left: 0%;
}
#instruções{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    border: rgb(3, 255, 3) 1px solid;
    color: rgb(2, 255, 2);
    background-color: black;
    top: 30%;
    width: 200px;
}
