body{
    background-image: url(fundo2.jpeg);
}
#btLoad{
    position: absolute;
    width: 200px;
    height:70px;
    left:500px;
    top:440px;
    background-color: rgba(255, 147, 7, 0.808);
    font-size: 15pt;
    font-style: oblique;
    font-weight: bolder;
    border: 1px solid;
    border-radius: 5%;
    }
#btLoad:hover{
    background-color: rgb(255, 153, 0);
}
#divRodape{
    position: absolute;
    width: 1310px;
    height: 50px;
    top: 600px;
    left: 0%;
}
a:link{ 
    text-decoration:none; 
}
a{
    color: #000;
}
#linkInsta{
    position: absolute;
    right: 130px;
    text-align: center;
} 
#linkGit{
    position: absolute;
    right: 30px;
    text-align: center;
}
#img1{
    position:absolute;
    right: 80px;
    width: 20px;
    height: 20px;
}
#img2{
    position: absolute;
    right: 100px;
    width: 20px;
    height: 20px;
}
#span1{
    position: absolute;
    right: 20px;
    font-style: inherit;
    color: rgba(255, 255, 240, 0.733);
}
#divTexto{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 100px;
    left: 400px;
    text-align: center;
    color: rgba(253, 253, 253, 0.849);
}
#titulo{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 340px;
    text-align: center;
    font-size: 40pt;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 240, 0.795);
}
